@use '../../foundation/mixins' as mix;

.p-create-form {
  padding: 40px 14px;

  @include mix.mq(lg) {
    padding: 60px 20px;
  }

  &__inner {
    width: 820px;
    max-width: 100%;
    margin-right: auto;
    margin-left: auto;
  }

  &__heading {
    font-size: 20px;
    font-weight: bold;

    @include mix.mq(lg) {
      font-size: 32px;
    }
  }

  &__content {
    margin-top: 20px;

    @include mix.mq(lg) {
      margin-top: 32px;
    }
  }

  &__form {
  }

  &__error {
    display: none;

    &.is-active {
      display: block;
      background-color: #f2908c;
      border-radius: 4px;
      color: #fff;
      padding: 8px 16px;
      margin-bottom: 20px;
      box-shadow: 0 4px 4px rgba($color: #f2908c, $alpha: 0.2);

      @include mix.mq(lg) {
        padding: 12px 24px;
        margin-bottom: 32px;
      }
    }
  }

  &__error-inner {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  &__error-icon {
    width: 24px;
    height: 24px;
  }

  &__error-text {
  }

  &__fieldset-list {
    display: grid;
    gap: 32px;
  }

  &__fieldset-item {
    padding: 20px 16px 24px;
    background-color: #fff;
    border: 0;
    margin: 0;
    border: 0;
    box-shadow: 0 4px 4px rgba($color: #ccc, $alpha: 0.25);
    border-radius: 8px;

    @include mix.mq(lg) {
      padding: 32px 32px 40px;
    }
  }

  &__statement-label {
    display: block;
    font-weight: bold;

    @include mix.mq(lg) {
      font-size: 20px;
    }
  }

  &__statement-field {
    width: 100%;
    display: block;
    margin-top: 8px;
    resize: vertical;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 4px 8px;
    min-height: calc(1.5em + 10px);

    @include mix.mq(lg) {
      padding: 8px 12px;
      min-height: calc(1.5em + 18px);
    }
  }

  &__field-helper-list {
    font-size: 12px;
    margin-top: 4px;
    list-style: disc;
    padding-left: 1em;

    @include mix.mq(lg) {
      font-size: 14px;
      margin-top: 8px;
    }
  }

  &__field-helper-item {
    &--error {
      color: #b7282d;
    }
  }

  &__option-caption {
    font-weight: bold;

    @include mix.mq(lg) {
      font-size: 20px;
    }
  }

  &__option-list {
    margin-top: 20px;
    display: grid;
    gap: 6px;
  }

  &__option-list-header {
    padding-left: 4px;
    font-size: 14px;

    @include mix.mq(lg) {
      font-size: 16px;
    }
  }

  &__option-item {
  }

  &__option-item-inner {
    display: flex;
    align-items: center;
    padding: 10px 10px 10px 8px;
    border-radius: 4px;

    &:has(:checked) {
      background-color: #85c67b;
      color: #fff;
      font-weight: bold;
    }
  }

  &__option-item-inner:has(&__checkbox-field:hover) {
    background-color: #edf4ec;

    &:has(:checked) {
      background-color: #85c67b;
      color: #fff;
      font-weight: bold;
    }
  }

  &__checkbox-field {
    accent-color: #107a00;
    width: 16px;
    height: 16px;

    @media (any-hover: hover) {
      cursor: pointer;
    }

    @include mix.mq(lg) {
      width: 20px;
      height: 20px;
    }
  }

  &__checkbox-label {
    width: 40px;
    padding-right: 32px;
    padding-left: 16px;
    height: 100%;
    display: flex;
    align-items: center;

    @media (any-hover: hover) {
      cursor: pointer;
    }
  }

  &__option-field {
    flex: 1;
    border: 0;
    border-bottom: 1px solid #ccc;
    border-radius: 0;
    padding: 4px 8px;
    background-color: inherit;
    color: inherit;

    @include mix.mq(lg) {
      padding: 8px 12px;
    }
  }

  &__option-item:has(:checked) &__option-field {
    border-bottom: 1px solid #fff;
  }

  &__submit-btn-container {
    margin-top: 44px;
  }

  &__submit-btn {
    min-width: 200px;
    min-height: 48px;
    margin-right: auto;
    margin-left: auto;
  }
}
