@use '../../foundation/mixins' as mix;

.p-index-quizzes {
  padding: 40px 14px;

  @include mix.mq(lg) {
    padding: 60px 20px;
  }

  &__inner {
    @include mix.mq(lg) {
      max-width: 100%;
      width: 840px;
      margin-right: auto;
      margin-left: auto;
    }
  }

  &__heading {
    font-size: 20px;
    font-weight: bold;

    @include mix.mq(lg) {
      font-size: 32px;
    }
  }

  &__content {
    margin-top: 20px;

    @include mix.mq(lg) {
      margin-top: 32px;
    }
  }

  &__list {
    display: grid;
    gap: 16px;
    grid-template-columns: 100%;

    @include mix.mq(lg) {
      gap: 0;
      background-color: #fff;
      border-radius: 8px;
      padding: 16px 24px 28px;
    }
  }

  &__list-header {
    @include mix.visually-hidden;

    @include mix.mq(lg) {
      position: static;
      width: auto;
      height: auto;
      padding: 0;
      margin: 0;
      clip: auto;
      border-bottom: 1px solid #ddd;
      font-weight: bold;
      color: #666;
    }
  }

  &__list-header-inner {
    @include mix.mq(lg) {
      display: flex;
      align-items: center;
      padding: 13px 0;
    }
  }

  &__list-header-username {
    width: 160px;
    padding-right: 12px;
    padding-left: 12px;
  }

  &__list-header-created-at {
    width: 220px;
    padding-right: 12px;
    padding-left: 12px;
  }

  &__list-header-statement {
    flex: 1;
    padding-right: 12px;
    padding-left: 12px;
  }

  &__item {
    border-bottom: 1px solid #eee;
  }

  &__item-inner {
    border-radius: 4px;
    padding: 12px;
    background-color: #fff;
    display: block;
    box-shadow: 0px 4px 4px rgba($color: #ccc, $alpha: 0.25);
    transition: box-shadow 0.4s ease, scale 0.4s ease;

    @media (any-hover: hover) {
      &:hover {
        scale: 1.02;
        box-shadow: 0px 4px 8px rgba($color: #999, $alpha: 0.25);
      }
    }

    &:active {
      box-shadow: 0px 4px 8px rgba($color: #777, $alpha: 0.25);
      scale: 1.02;
    }

    @include mix.mq(lg) {
      display: flex;
      align-items: center;
      box-shadow: none;
      padding: 13px 0;

      @media (any-hover: hover) {
        &:hover {
          scale: 1.03;
          box-shadow: 0px 0px 4px rgba($color: #999, $alpha: 0.25);
        }
      }

      &:active {
        box-shadow: 0px 0px 4px rgba($color: #777, $alpha: 0.25);
        scale: 1.03;
      }
    }
  }

  &__username {
    display: flex;
    align-items: center;
    gap: 8px;

    @include mix.mq(lg) {
      display: block;
      padding-right: 12px;
      padding-left: 12px;
      width: 160px;
    }
  }

  &__username-icon {
    width: 16px;
    height: 16px;

    @include mix.mq(lg) {
      display: none;
    }
  }

  &__username-text {
    font-size: 14px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    flex: 1;
    display: block;

    @include mix.mq(lg) {
      font-size: inherit;
      width: 100%;
    }
  }

  &__created-at {
    display: flex;
    align-items: center;
    gap: 4px;

    @include mix.mq(lg) {
      display: block;
      padding-right: 12px;
      padding-left: 12px;
      width: 220px;
    }
  }

  &__created-at-icon {
    width: 16px;
    height: 16px;

    @include mix.mq(lg) {
      display: none;
    }
  }

  &__created-at-text {
    font-size: 14px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    flex: 1;
    display: block;

    @include mix.mq(lg) {
      font-size: inherit;
    }
  }

  &__statement {
    margin-top: 20px;
    font-size: 20px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 100%;

    @include mix.mq(lg) {
      margin-top: 0;
      font-size: inherit;
      flex: 1;
      padding-right: 12px;
      padding-left: 12px;
    }
  }

  &__footer {
    color: #777;
    margin-top: 20px;
    font-size: 12px;

    @include mix.mq(lg) {
      font-size: inherit;
    }
  }

  &__footer-info {
    text-align: center;
  }

  &__pagination {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-top: 16px;
    justify-content: center;
  }

  &__page-list {
    display: flex;
    gap: 8px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }

  &__page-item {
    width: 32px;
    height: 32px;
    border-radius: 2px;
    background-color: #fff;
    display: grid;
    place-content: center;

    @include mix.mq(lg) {
      width: 40px;
      height: 40px;
    }

    &.is-active {
      background-color: #777;
      color: #fff;
      font-weight: bold;
    }
  }
}
