@use '../../foundation/mixins' as mix;

.p-login-form {
  padding: 40px 0;

  @include mix.mq(lg) {
    padding: 60px 0;
  }

  &__inner {
  }

  &__header {
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    border-bottom: 1px solid #aaa;

    @include mix.mq(lg) {
      font-size: 24px;
    }
  }

  &__heading {
    padding-bottom: 4px;
    padding-right: 8px;
    padding-left: 8px;
    color: #aaa;
    translate: 0 2px;

    &.is-active {
      color: inherit;
      font-weight: bold;
      border-bottom: 3px solid #a59aca;
    }
  }

  &__content {
    margin-top: 40px;
    padding-right: 14px;
    padding-left: 14px;

    @include mix.mq(lg) {
      margin-top: 32px;
      padding-right: 20px;
      padding-left: 20px;
    }
  }

  &__form {
    background-color: #fff;
    border-radius: 8px;
    padding: 20px 16px 24px;
    box-shadow: 0 4px 4px rgba($color: #ccc, $alpha: 0.25);
    max-width: 100%;
    width: 400px;
    margin-right: auto;
    margin-left: auto;

    @include mix.mq(lg) {
      padding: 32px 32px 40px;
      width: 560px;
    }
  }

  &__field-list {
    display: grid;
    gap: 40px;

    @include mix.mq(lg) {
      gap: 56px;
    }
  }

  &__field-container {
    display: grid;
    gap: 2px;
  }

  &__field-label {
    @include mix.mq(lg) {
      font-size: 20px;
    }
  }

  &__field {
    border: 0;
    border-bottom: 1px solid #ccc;
    border-radius: 0;
    padding: 4px 8px;

    @include mix.mq(lg) {
      padding: 8px 12px;
      font-size: 18px;
    }
  }

  &__submit-btn-container {
    margin-top: 56px;

    @include mix.mq(lg) {
      margin-top: 64px;
    }
  }

  &__submit-btn {
    min-width: 200px;
    min-height: 48px;
    margin-right: auto;
    margin-left: auto;
  }
}
