@use '../foundation/mixins' as mix;

.l-wrapper {
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 100%;
  min-height: 100vh;
}

.l-main {
  @include mix.mq(xl) {
    padding-top: 80px;
    padding-left: 300px;
  }
}
